<ion-header>
  <ion-toolbar color="{{colorSeleccionado}}">
    <ion-buttons slot="start">
      <ion-back-button color="blancoUno"></ion-back-button>
    </ion-buttons>

    <ion-title>Ver/Editar Abono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="espcioInput">
    <ion-label color="{{colorLabel}}" position="stacked">Monto del pago</ion-label>
    <ion-input disabled="{{editar}}" [(ngModel)]="abono.monto" inputmode="numeric" [(ngModel)]="abono.monto"
      placeholder="75000"></ion-input>
  </div>

  <div class="espcioInput">
    <ion-label color="{{colorLabel}}" position="stacked">Fecha del pago</ion-label>
    <ion-datetime disabled="{{editar}}" [(ngModel)]="abono.fecha" [(ngModel)]="abono.fecha"
      display-Format="YYYY MMMM DD" min="2015-01-01" max="2050-01-01">
    </ion-datetime>
  </div>

  <div class="espcioInput">
    <ion-label color="{{colorLabel}}" position="stacked">Description del pago</ion-label>
    <ion-textarea disabled="{{editar}}" [(ngModel)]="abono.descripcion" rows="5" [(ngModel)]="abono.descripcion"
      placeholder="Pago con tarjeta de debito">
    </ion-textarea>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>

          <ion-col size="6" *ngIf="editar==false">
            <ion-button color="{{colorSeleccionado}}" expand="block" (click)="cancelar()">Cancelar</ion-button>
          </ion-col>

          <ion-col size="6" *ngIf="editar==true">
            <ion-button color="{{colorSeleccionado}}" expand="block" (click)="eliminarAbono()">Eliminar</ion-button>
          </ion-col>

          <ion-col size="6" *ngIf="editar==false">
            <ion-button color="{{colorSeleccionado}}" expand="block" (click)="actualizarAbono()">Actualizar</ion-button>
          </ion-col>

          <ion-col size="6" *ngIf="editar==true">
            <ion-button color="{{colorSeleccionado}}" expand="block" (click)="editarAbono()">Editar</ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-footer>