<ion-header>
  <ion-toolbar color="{{colorSeleccionado}}">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title>Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="menu">

    <ion-card-header color="colorSeleccionado" class="centrarTexto">
      <ion-card-title>MENU</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row>

          <ion-col (click)="mostrarVentasFecha()" size="12">
            <ion-item detail>
              <p>Filtrar ventas por fecha</p>
            </ion-item>
          </ion-col>

          <ion-col (click)="mostrarVentasUnProducto()" size="12">
            <ion-item detail>
              <p>Mostrar ventas de un producto</p>
            </ion-item>
          </ion-col>

          <ion-col (click)="mostrarMontosVendidos()" size="12">
            <ion-item detail>
              <p>Mostrar montos totalea vendidos</p>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="ventasFecha">
    <ion-grid>
      <ion-card-header color="colorSeleccionado" class="centrarTexto">
        <ion-card-title>
          <ion-row>

            <ion-col (click)="volver()" class="centrarVerticalmente" size="2">
              <ion-icon name="arrow-round-back"></ion-icon>
            </ion-col>

            <ion-col size="8">
              <h2 class="tituloPrincipal">Filtro ventas por fecha</h2>
            </ion-col>

          </ion-row>
        </ion-card-title>
      </ion-card-header>

      <ion-row>

        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Fecha Inicio</ion-label>
            <ion-datetime placeholder="{{fechaActual}}" [(ngModel)]="fecha1" display-Format="YYYY MMMM DD"
              min="2015-01-01" max="2050-01-01">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Fecha fin</ion-label>
            <ion-datetime placeholder="{{fechaActual}}" [(ngModel)]="fecha2" display-Format="YYYY MMMM DD"
              min="2015-01-01" max="2050-01-01">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-button expand="block" (click)="filtrarVentas()">Filtrar</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="ventasFecha && ventas.length!=0">

    <ion-row class="centrar">

    </ion-row>

    <ion-row>

      <ion-col size="2">
        <ion-item>
          <p><strong>#</strong></p>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <p><strong>Producto</strong></p>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item>
          <p><strong>Fecha</strong></p>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row *ngFor="let item of ventas">

      <ion-col size="2">
        <ion-item>
          <p>{{item.cantidad}}</p>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <p>{{item.nombre}} - {{item.marca}}</p>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item>
          <p>{{item.fecha}}</p>
        </ion-item>
      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card *ngIf="ventasDeUnProducto">
    <ion-grid>

      <ion-card-header>
        <ion-card-title>
          <ion-row>

            <ion-col (click)="volver()" class="atras centrarVerticalmente" size="2">
              <ion-icon name="arrow-round-back"></ion-icon>
            </ion-col>

            <ion-col size="8">
              <h2 class="tituloPrincipal">Filtro ventas del producto {{producto.nombre}} {{producto.marca}}</h2>
            </ion-col>

          </ion-row>
        </ion-card-title>
      </ion-card-header>


      <ion-row>

        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Fecha Inicio</ion-label>
            <ion-datetime placeholder="{{fechaActual}}" [(ngModel)]="fecha1" display-Format="YYYY MMMM DD"
              min="2015-01-01" max="2050-01-01">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Fecha fin</ion-label>
            <ion-datetime placeholder="{{fechaActual}}" [(ngModel)]="fecha2" display-Format="YYYY MMMM DD"
              min="2015-01-01" max="2050-01-01">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-button expand="block" (click)="filtrarVentaIndivial()">Filtrar</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="seleccionProducto">
    <ion-grid>

      <ion-card-header color="colorSeleccionado" class="centrarTexto">
        <ion-card-title>

          <ion-row>

            <ion-col (click)="volver()" class="atras centrarVerticalmente" size="2">
              <ion-icon name="arrow-round-back"></ion-icon>
            </ion-col>

            <ion-col class="" size="8">
              <h2>Selecciona un producto</h2>
            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col size="12">
              <ion-searchbar mode="ios" placeholder="Buscar producto" (ionChange)="buscar($event)" animated>
              </ion-searchbar>
            </ion-col>

          </ion-row>

        </ion-card-title>
      </ion-card-header>

      <!-- <ion-row *ngFor="let item of todosLosProducto | filtroProducto: textoBuscar" (click)="dobleTap(item)"> -->
      <ion-row *ngFor="let item of todosLosProducto" (click)="dobleTap(item)">

        <ion-col size="6">
          <ion-item>
            <p class="ion-text-capitalize">{{item.nombre}}</p>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <p class="ion-text-capitalize">{{item.marca}}</p>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="VentasProductoBuscado && ventasProductoEspecifico.length!=0">

    <ion-row>

      <ion-col size="2">
        <ion-item>
          <p><strong>#</strong></p>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <p><strong>Producto</strong></p>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item>
          <p><strong>Fecha</strong></p>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row *ngFor="let item of ventasProductoEspecifico">

      <ion-col size="2">
        <ion-item>
          <p>{{item.cantidad}}</p>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <p>{{item.nombre}} - {{item.marca}}</p>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item>
          <p>{{item.fecha}}</p>
        </ion-item>
      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Montos totalea vendidos
      </ion-card-title>

      <ion-card-content>

        <ion-col size="12">
          <ion-item>
            <p>{{montoTotalVentas}}</p>
          </ion-item>
        </ion-col>

      </ion-card-content>
    </ion-card-header>

  </ion-card>

</ion-content>