<ion-header>
  <ion-toolbar color="{{colorSeleccionado}}">
    <ion-buttons slot="start">
      <ion-back-button color="blancoUno" defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title>Editar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>

    <ion-grid>
      <ion-row>

        <ion-col size="10">
          <div class="espcioInput">
            <ion-label color="{{colorLabel}}" position="stacked">Codigo del producto</ion-label>
            <ion-input disabled="{{editar}}" [(ngModel)]="producto.codigo" value="{{producto.codigo}}"
              placeholder="0000001"></ion-input>
          </div>
        </ion-col>

        <ion-col size="2">
          <div class="btnBarcode">
            <ion-button color="{{colorSeleccionado}}" disabled="{{editar}}" (click)="addBarcode()">
              <ion-icon name="barcode"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>

    <div class="espcioInput">
      <ion-label color="{{colorLabel}}" position="stacked">Nombre del producto </ion-label>
      <ion-input disabled="{{editar}}" [(ngModel)]="producto.nombre" value="{{producto.nombre}}" placeholder="compacto">
      </ion-input>
    </div>

    <div class="espcioInput">
      <ion-label color="{{colorLabel}}" position="stacked">Nombre del marca</ion-label>
      <ion-input disabled="{{editar}}" [(ngModel)]="producto.marca" value="{{producto.marca}}" placeholder="valmy">
      </ion-input>
    </div>

    <div class="espcioInput">
      <ion-label color="{{colorLabel}}" position="stacked">Precio de compra del producto</ion-label>
      <ion-input disabled="{{editar}}" inputmode="numeric" value="{{producto.precioCompra}}"
        [(ngModel)]="producto.precioCompra" placeholder="7"></ion-input>
    </div>

    <div class="espcioInput">
      <ion-label color="{{colorLabel}}" position="stacked">Precio de venta del producto</ion-label>
      <ion-input disabled="{{editar}}" inputmode="numeric" value="{{producto.precioVenta}}"
        [(ngModel)]="producto.precioVenta" placeholder="10"></ion-input>
    </div>

    <div class="espcioInput">
      <ion-label color="{{colorLabel}}" position="stacked">Stock del producto</ion-label>
      <ion-input disabled="{{editar}}" inputmode="numeric" [(ngModel)]="producto.stock" value="{{producto.stock}}"
        placeholder="12"></ion-input>
    </div>

    <div class="espcioInput">
      <ion-label color="{{colorLabel}}" position="stacked">Description </ion-label>
      <ion-textarea disabled="{{editar}}" rows="5" [(ngModel)]="producto.descripcion" value="{{producto.descripcion}}"
        placeholder="compacto valmy doble funcion">
      </ion-textarea>
    </div>

  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>

      <ion-row>

        <ion-col size="6" *ngIf="editar==false">
          <ion-button color="{{colorSeleccionado}}" expand="block" (click)="cancelar()">Cancelar</ion-button>
        </ion-col>

        <ion-col size="6" *ngIf="editar==true">
          <ion-button color="{{colorSeleccionado}}" expand="block" (click)="eliminar()">Eliminar</ion-button>
        </ion-col>

        <ion-col size="6" *ngIf="editar==false">
          <ion-button color="{{colorSeleccionado}}" expand="block" (click)="actualizar()">Actualizar</ion-button>
        </ion-col>

        <ion-col size="6" *ngIf="editar==true">
          <ion-button color="{{colorSeleccionado}}" expand="block" (click)="editarProducto()">Editar</ion-button>
        </ion-col>

      </ion-row>

    </ion-title>
  </ion-toolbar>
</ion-footer>