<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cobrar">
      <ion-icon name="arrow-dropdown-circle"></ion-icon>
      <ion-label>Cobrar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventario">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pagar">
      <ion-icon name="arrow-dropup-circle"></ion-icon>
      <ion-label>Pagar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>