<ion-header>
  <ion-toolbar color="{{colorSeleccionado}}">
    <ion-buttons slot="start">
      <ion-back-button color="blancoUno" defaultHref="home/pagar"></ion-back-button>
    </ion-buttons>

    <ion-title>Agregar cuenta por Pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="espacioInput">
    <ion-label color="{{colorLabel}}" position="stacked">Nombre de la Empresa/persona</ion-label>
    <ion-input [(ngModel)]="cuentaPagar.nombre" placeholder="Valmy"></ion-input>
  </div>

  <div class="espacioInput">
    <ion-label color="{{colorLabel}}" position="stacked">Monto de la deuda</ion-label>
    <ion-input inputmode="numeric" [(ngModel)]="cuentaPagar.monto" placeholder="75"></ion-input>
  </div>

  <div class="espacioInput">
    <ion-label color="{{colorLabel}}" position="stacked">Fecha fin para el pago</ion-label>
    <ion-datetime [(ngModel)]="cuentaPagar.fechaFin" display-Format="YYYY MMMM DD" min="2015-01-01" max="2050-01-01">
    </ion-datetime>
  </div>

  <div class="espacioInput">
    <ion-label color="{{colorLabel}}" position="stacked">Description</ion-label>
    <ion-textarea rows="5" [(ngModel)]="cuentaPagar.descripcion" placeholder="Compacto valmy doble funcion">
    </ion-textarea>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-button expand="block" color="{{colorSeleccionado}}" (click)="addcuentaPagar()">Agregar Producto</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>