<ion-header>
  <ion-toolbar color="{{colorSeleccionado}}">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/cobrar"></ion-back-button>
    </ion-buttons>

    <ion-title>Agregar cuenta por Cobrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Nombre de la Empresa/persona</ion-label>
    <ion-input [(ngModel)]="cuentaCobrar.nombre" placeholder="Valmy"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Monto de la deuda</ion-label>
    <ion-input inputmode="numeric" [(ngModel)]="cuentaCobrar.monto" placeholder="75"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Fecha inicio de la deuda</ion-label>
    <ion-datetime [(ngModel)]="cuentaCobrar.fechaInicio" display-Format="YYYY MMMM DD" min="2015-01-01"
      max="2050-01-01"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Fecha fin para el pago</ion-label>
    <ion-datetime [(ngModel)]="cuentaCobrar.fechaFin" display-Format="YYYY MMMM DD" min="2015-01-01" max="2050-01-01">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea rows="5" [(ngModel)]="cuentaCobrar.descripcion" placeholder="Compacto valmy doble funcion">
    </ion-textarea>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-button expand="block" color="{{colorSeleccionado}}" (click)="addCuentaCobrar()">Agregar Producto</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>